.display-container {
    border: 1px solid black;
    width: 85vw;
    margin: auto;
    margin-top:15px;
    height: 80vh;
}

.display-row{
    width: 100%;
    height: calc(80vh /2);
    display: flex;
    flex-direction: row;
   
}

.display-col {
    border: 1px solid lime;
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}