.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 35vw;
    height: 3.5vh;
    font-size:17px;
    padding: 2px;
}

.btn-search {
    margin-left: 15px;
    height: 4vh;
    padding: 4px;
    width: 65px;
    box-sizing: border-box;

}