


.hero {
    height: 100vh;
    width:  100vw;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ;
     background-size:cover;
    background-position: center; 
    position: absolute;

}

.form-box {
    border: 1px solid black;
    width: 380px;
    height: 60vh;
    position: relative;
    margin: 7% auto;
    background-color: #fff  ;
}


.con-img{
    width: 100%;
    text-align: center;
}

.con-img img {
    width:200px;
}

.social-icon {
    width: 100%;
    margin: auto;
    text-align: center;
}

.social-icon img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius:50%;
}

.input-group {
    position: absolute;
    top:200px;
    width:280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none; /*out line là ẩn đi cái ô ghi mình nhập text vào*/
    background: transparent;
}

.check-box {
    margin: 15px 10px 30px 0;
    
}

span{
    color: #777;
    font-size: 12px;
   
}

.btn-login {
    width: 85%;
    display: block;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 5px;
}

.btn-login:hover {
    
   background: #7ABFE0;
}

button {
    padding: 8px 0; 
}


#login {
    left: 50px;
}