.container {
  display: flex;
}

.cont-user {
  border: 1px solid black;
  width: 25vw;
  height: 100vh;
}

.display-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% auto;
}

.display-user > h1 {
  margin-bottom: 10%;
}

img {
  width: 150px;
  margin-bottom: 10%;
}

.cont-toDoList {
  border: 1px solid black;
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.todo-box {
  width: 35vw;
  height: 30vh;
  margin: 2% 15px 0 15px;
  position: relative;
  background-color: #f6f6f6;
}

.header-todo {
  border: 1px solid black;
  width: 100%;
  height: 5vh;
  text-align: center;
}

.header-todo h1 {
  margin-top: 4px;
}

.content-todo {
  border: 1px solid black;
  width: 100%;
  height: 21vh;
}

.todo-box-bottom {
  width: 100%;
  height: 4vh;
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  background: #d2d2d2;
}

.btn-manipulation-todo {
  color: black;
  text-align: center;
  font-weight: bold;
  width: 80px;
  height: 100%;
  border: 1px solid black;
}

.btn-manipulation-todo:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: red;
}
